<% if current_user.favorite?(question) %>
  <%= link_to question_favorite_path(question, question.favorites.find_by(user_id: current_user.id)), method: :delete do %>
    <p><i class="fa fa-star fa-2x gray"></i></p>
  <% end %>
<% else %>
  <%= link_to question_favorites_path(question), method: :post do %>
    <p><i class="fa fa-star fa-2x yellow"></i></p>
  <% end %>
<% end %>