<div class="row question_index">
  <div class="col-sm-8">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

    <div class="row">
      <h4 class="pull-left">すべての質問</h4>
      <ul class="nav nav-tabs">
        <li class="pull-right toggle_tabs"><a href="#tab2" data-toggle="tab">人気</a></li>
        <li class="active pull-right toggle_tabs"><a href="#tab1" data-toggle="tab">新着</a></li>
      </ul>
    </div>
    
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="tab1">
        <div class="row">
          <%= render partial: 'recent_questions', locals: { questions: @questions} %>
        </div>
      </div>
      <div class="tab-pane fade" id="tab2">
        <div class="row">
          <%= render partial: 'popular_questions', locals: { questions: @questions} %>
        </div>
      </div>
    </div>    
  </div>

  <div class="col-sm-4">
    <p>サイト統計情報</p>
    <p>最新のタグ</p>
  </div>
</div>
