<div class="row">
  <div class="col-sm-8">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

    <h4>すべての質問</h4>
    <div class="row">
      <%= render partial: 'recent_questions', locals: { questions: @questions} %>
    </div>
  </div>
  <div class="col-sm-4">
    <p>サイト統計情報</p>
    <p>最新のタグ</p>
  </div>
</div>
