<div class="row user_index">
  <h4>ユーザー</h4>
</div>

<div class="row user_list">
  <% @users.each do |user| %>
    <div class="col-sm-3 user_list">
      <%= user_profile_img(user) %>
      <%= link_to user.name, user %>
    </div>
  <% end %>
</div>
