<% answers.each do |answer| %>
 <div class="row answer">
  <% unless answer.id.nil? %>
    <div class="col-sm-1 question_buttons">
 	  投票機能
 	</div>
 	<div class="col-sm-11 answer_box">
      <p><%= simple_format(answer.content) %></p>
      <% if current_user.id == answer.user.id %>
        <%= link_to 'この回答を改善する', edit_question_answer_path(question, answer) %>
        <%= link_to 'この回答を削除する', question_answer_path(question, answer), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
      <% end %>
      <div class="pull-right"><%= answer.user.name %></div>
    </div>
  <% end %>
</div>
<% end %>