<div class="row tag_index">
  <h4>タグ</h4>
</div>

<div class="page-description">
  <p>タグとは、あなたの質問をよく似た他の質問と一緒に分類するキーワードまたはラベルのことです。適切なタグを使用することで、他のユーザーがあなたの質問を検索したり、質問に対して回答したりすることが容易になります。</p>
</div>

<div class="row tag_list">
  <% @tags.each do |tag| %>
    <div class="tag-cell">
      <div class="tag">
        <%= link_to "#{tag.name} (#{tag.taggings_count})", questions_path(tag: tag.name) %>
      </div>
    </div>
  <% end %>
</div>
