.ui-helper-hidden-accessible {
  display: none;
}

.yellow {
	color: yellow;
}

.gray {
	color: gray;
}

.row.question_row {
	border-bottom:1px solid #ccc;
	width: 100%;
	margin-left: 10px;
}

.row.text-right {
	margin-right: 7px;
	margin-bottom: 5px;
}