.row.tag_index {
  padding-top: 10px;
  margin-bottom: 10px;
  border-bottom:1px solid #ccc;
  margin-left: 20px;
  margin-right: 20px;
}

.tag-cell {
  width: 215px;
  border-bottom: 1px dotted #E4E6E7;
  padding-bottom: 12px;
  padding-right: 6px;
  padding-top: 6px;
  float: left;
}

.row.tag_list {
  margin-left: 20px;
}

.page-description {
  font-size: 14px;
  margin: 0 20px 30px 20px;
  line-height: 18px;
}
