.row.user_index {
  padding-top: 10px;
  margin-bottom: 25px;
  border-bottom:1px solid #ccc;
  margin-left: 20px;
  margin-right: 20px;
}

.row.user_list {
  margin-left: 20px;
}

.col-sm-3.user_list {
  padding-bottom: 25px;
}

.row.favorite {
  margin-left: 15px;
  margin-right: 15px;
}

.row.favorite_count {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 5px;
  border-bottom:1px solid #ccc;
}
